<p style="color: green"><%= notice %></p>

<% content_for :title, "User collection relationships" %>

<h1>User collection relationships</h1>

<div id="user_collection_relationships">
  <% @user_collection_relationships.each do |user_collection_relationship| %>
    <%= render user_collection_relationship %>
    <p>
      <%= link_to "Show this user collection relationship", user_collection_relationship %>
    </p>
  <% end %>
</div>

<%= link_to "New user collection relationship", new_user_collection_relationship_path %>
