<% content_for :title, "New user collection relationship" %>

<h1>New user collection relationship</h1>

<%= render "form", user_collection_relationship: @user_collection_relationship %>

<br>

<div>
  <%= link_to "Back to user collection relationships", user_collection_relationships_path %>
</div>
