<div id="<%= dom_id card_collection %>">
  <p>
    <strong>Title:</strong>
    <%= card_collection.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= card_collection.description %>
  </p>

</div>
