<% content_for :title, "Editing practice deck" %>
<h1>Editing practice deck</h1>
<%= render "form", card_collection: @card_collection %>
<br>
<div>
  <%= link_to "Show this practice deck", @card_collection %> |
  <%= link_to "Back to practice decks", card_collections_path %>
</div>
