<% content_for :title, "Editing card collection" %>

<h1>Editing card collection</h1>

<%= render "form", card_collection: @card_collection %>

<br>

<div>
  <%= link_to "Show this card collection", @card_collection %> |
  <%= link_to "Back to card collections", card_collections_path %>
</div>
