<% content_for :title, "New practice deck" %>
<h1 class="text-4xl">Create a new practice deck</h1>
<%= render "form", card_collection: @card_collection %>
<br>
<div>
  <%= link_to "Back to practice decks", card_collections_path %>
</div>
