<% content_for :title, "Editing user" %>
<%= render "form", user: @user %>
<br>
<div class="container mx-auto px-10 mt-10 mb-10">
  <%= link_to "Show this user", @user, style:"text-decoration: underline" %> |
  <%= link_to "Back to users", users_path, style:"text-decoration: underline" %>
</div>
