<% content_for :title, "Users" %>
<div class="container mx-auto px-10 mt-10">
  <h1 class="text-3xl font-bold mt-4">Users</h1>
  <div id="users">
    <% @users.each do |user| %>
      <%= render user %>
      <p>
        <%= link_to "Show this user", user %>
      </p>
    <% end %>
  </div>
  <%= link_to "New user", new_user_path %>
</div>
