<div>
  <section id="home" class="mb-20 pt-10 flex flex-col items-center home" style="background-image: url('<%= asset_path("home-bg.svg") %>'); background-size: cover; min-height: 690px;" >
    <h1 class="text-4xl mb-6">
      Welcome to Swissitize
    </h1>
    <p class="text-center w-1/2">Master Swiss Knowledge with ease. Prepare for naturalization with personalized flashcards 
      tailored to help you learn everything you need to know about Switzerland.
    </p>
  </section>
  <section id="about" class="flex px-20 items-center mb-20 ">
    <div class="w-1/3 mr-28">
      <%= image_tag ("about-bg.svg") %>
    </div>
    <div class="w-2/3">
      <h2 class="text-3xl mb-6">About</h2>
      <p class="mb-6">
        Swissitize is&nbsp;your go-to tool for mastering the knowledge required for <strong> Swiss naturalization</strong>. Whether you&rsquo;re preparing for your citizenship interview or&nbsp;simply want to&nbsp;deepen your understanding of&nbsp;Switzerland, Swissitize offers an&nbsp;efficient, engaging, and effective learning experience.
      </p>
      <p class="mb-6">
        We&nbsp;provide expertly crafted <strong> flashcard decks</strong> covering essential topics about Switzerland&rsquo;s culture, history, geography, politics, and more. Additionally, you have the flexibility to&nbsp;create your own flashcard decks, allowing you to&nbsp;focus on&nbsp;the areas most relevant to&nbsp;your needs.
      </p>
      <p>
        Swissitize is&nbsp;designed to&nbsp;support you at&nbsp;every step of&nbsp;your journey toward becoming a&nbsp;Swiss citizen, making the learning process enjoyable and tailored to&nbsp;your pace.
      </p>
    </div>
  </section>
  <section id="how-to" class="px-20 mb-20 flex">
    <div class="w-2/3">
      <h2 class="text-3xl mb-6">How to use</h2>
      <h3 class="text-xl font-bold mb-6">Getting started with Swissitize is simple and intuitive:</h3>
      <div class="mb-6">
        <h4 class="font-bold">
          Explore Base Decks: 
        </h4>
        <p>
          Begin with our pre-made flashcard decks, which cover all the key areas of Swiss knowledge required for naturalization. These decks are curated to provide you with comprehensive coverage of Switzerland's history, culture, government, and more.
        </p>
      </div>
      <div class="mb-6">
        <h4 class="font-bold">
          Customize Your Learning:
        </h4>
        <p>
          Create your own flashcard decks to focus on specific topics you need more practice with. Add your questions, and information, and even upload images to make the content more personalized and memorable.        
        </p>
      </div>
      <div class="mb-6">
        <h4 class="font-bold">
          Practice Regularly: 
        </h4>
        <p>
          Use our spaced repetition system to review your flashcards efficiently. The more you practice, the better your retention. Swissitize tracks your progress, helping you stay on top of your learning goals.  
        </p>
      </div>
      <div class="mb-6">
        <h4 class="font-bold">
          Track Your Progress: 
        </h4>
        <p>
          Keep an eye on your improvement through our detailed progress tracking. You'll see which areas you've mastered and which need more attention, allowing you to optimize your study time.
        </p>
      </div>
    </div>
    <div class="w-1/3 ml-20">
      <%= image_tag ("how-to.png") %>
      <div class="mt-5 bg-malibu rounded-lg p-6 font-semibold">
        With Swissitize, you're not just memorizing facts; you're gaining a deep understanding of Switzerland, ensuring you're fully prepared for your naturalization process.
      </div>
    </div>
  </section>
</div>
