@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AkzidenzGrotesk';
  src: url('/fonts/AkzidenzGrotesk.ttf');
}

h1, h2, h3 {
  font-family: 'AkzidenzGrotesk', sans-serif;
}

.hide-text .nav-text {
  display: none;
}

textarea {
  height: fit-content;
  resize: none;
  overflow: auto;
}
